@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Modulo de Prestamos</h1>
</div>
<br />
<div class="container">
    <table id="trabajadorTable" class="table table-bordered">
        <tbody>
            <tr>
                <td>CÓDIGO: </td>
                <td>FECHA DE INGRESO:</td>
            </tr>
            <tr>
                <td>NOMBRES: </td>
                <td>FECHA DE SOLICITUD: </td>
            </tr>
            <tr>
                <td>IDENTIFICACIÓN: </td>
                <td>AÑOS DE TRABAJO: </td>
            </tr>
            <tr>
                <td>TIPO DE CONTRATO: </td>
                <td>TIPO DE JORNADA: </td>
            </tr>
            <tr>
                <td>SUELDO: </td>
                <td>MOTIVO PRESTAMO: </td>
            </tr>
            <tr>
                <td>VALOR QUINCENAL: </td>
                <td>VALOR SOLICITADO: <input type="text"></td>
            </tr>
        </tbody>
    </table>
</div>