@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Modulo de Prestamos</h1>
</div>
<br />
<div class="container">
    <table id="trabajadorTable" class="table table-bordered">
        <tbody>
            <tr>
                <td style="width:50%">CÓDIGO: </td>
                <td style="width:50%">FECHA DE INGRESO:</td>
            </tr>
            <tr>
                <td>NOMBRES: </td>
                <td>FECHA DE SOLICITUD: </td>
            </tr>
            <tr>
                <td>IDENTIFICACIÓN: </td>
                <td>AÑOS DE TRABAJO: </td>
            </tr>
            <tr>
                <td>TIPO DE CONTRATO: </td>
                <td>TIPO DE JORNADA: </td>
            </tr>
            <tr>
                <td>SUELDO: </td>
                <td>MOTIVO PRESTAMO: </td>
            </tr>
            <tr>
                <td>VALOR QUINCENAL: </td>
                <td>VALOR SOLICITADO: <input type="text"></td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<div class="container">
    <table id="datosRoles" class="table table-bordered">
        <thead>
            <tr>
                <td style="text-align: center; font-size: 14px; background-color: #589DDF"><b>INFORMACIÓN DEL ROL</b></td>
                <td style="text-align: center; font-size: 14px; background-color: #58C8DF"><b>CÁCULOS NOMINA</b></td>
            </tr>
            <tr>
                <td style="background-color: #589DDF">
                    <table style="width: 100%">
                        <tr style="width:80%">
                            <td style="width: 10%; text-align: center; font-size: 14px; border:none"><b>MES</b></td>
                            <td style="width: 10%; text-align: center; font-size: 14px; border: none"><b>INGRESOS</b></td>
                            <td style="width: 15%; text-align: center; font-size: 14px; border: none"><b>DEDUCCIONES</b></td>
                            <td style="width: 20%; text-align: center; font-size: 14px; border: none"><b>NETO A RECIBIR</b></td>
                            <td style="width: 6%; text-align: center; font-size: 14px; border: none"><b>FR</b></td>
                            <td style="width: 20%; text-align: center; font-size: 14px; border: none"><b>DÉCIMO TERCERO</b></td>
                            <td style="width: 24%; text-align: center; font-size: 14px; border: none"><b>DÉCIMO CUARTO</b></td>
                        </tr>
                    </table>
                </td>
                <td style="background-color: #58C8DF">
                    <table style="width: 100%">
                        <tr style="width:80%">
                            <td style="width: 10%; text-align: center; font-size: 14px; border: none"><b>DESCUENTOS</b></td>
                            <td style="width: 10%; text-align: center; font-size: 14px; border: none"><b>A RECIBIR</b></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <table style="width: 100%">
                        <tr style="width:80%">
                            <td style="width: 10%; text-align: center; font-size: 14px; border: none ">100</td>
                            <td style="width: 10%; text-align: center; font-size: 14px; border: none">100</td>
                            <td style="width: 15%; text-align: center; font-size: 14px; border: none">100</td>
                            <td style="width: 20%; text-align: center; font-size: 14px; border: none">100</td>
                            <td style="width: 6%; text-align: center; font-size: 14px; border: none">100</td>
                            <td style="width: 20%; text-align: center; font-size: 14px; border: none">100</td>
                            <td style="width: 24%; text-align: center; font-size: 14px; border: none">100</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table style="width: 100%">
                        <tr style="width:80%">
                            <td style="width: 10%; text-align: center; font-size: 14px; border: none">105</td>
                            <td style="width: 10%; text-align: center; font-size: 14px; border: none">105</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
        <tbody></tbody>
    </table>
</div>
<br />
<div class="container">
    <table id="datosRoles2" class="table table-bordered">
        <thead>
            <tr>
                <td style="text-align: center; width: 80%; font-size: 14px; background-color: #589DDF"><b>INFORMACIÓN DEL ROL</b></td>
                <td style="text-align: center; width: 20%; font-size: 14px; background-color: #58C8DF"><b>VALOR</b></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align:left; width:80%; font-size:14px">LÍMITE 1</td>
                <td style="text-align:right; width: 20%; font-size: 14px">100</td>
            </tr>
            <tr>
                <td style="text-align:left; width:80%; font-size:14px">LÍMITE 2</td>
                <td style="text-align:right; width: 20%; font-size: 14px">100</td>
            </tr>
            <tr>
                <td style="text-align:left; width:80%; font-size:14px">PROMEDIO DESCUENTOS</td>
                <td style="text-align:right; width: 20%; font-size: 14px">100</td>
            </tr>
            <tr>
                <td style="text-align:left; width:80%; font-size:14px">VALOR PROMEDIO RECIBIDO</td>
                <td style="text-align:right; width: 20%; font-size: 14px">100</td>
            </tr>
            <tr>
                <td style="text-align:left; width:80%; font-size:14px">CUOTAS RECOMENDADAS</td>
                <td style="text-align:right; width: 20%; font-size: 14px">100</td>
            </tr>
            <tr>
                <td style="text-align:left; width:80%; font-size:14px">APLICA</td>
                <td style="text-align:right; width: 20%; font-size: 14px">SI</td>
            </tr>
        </tbody>
        <tbody></tbody>
    </table>
</div>
<br />